<div class="w-100">
    <!-- title and top image desktop begin -->
    <div class="position-relative d-none d-md-block" style="height: 50vh;">
        <div class="w-100 d-flex align-items-center justify-content-center low-brightness"
            style="height: 50vh; background-image: url(../assets/images/vocational-education/109584.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
        </div>
        <span class="fw-bolder position-absolute translate-middle"
            style="font-size: 100px; color: var(--primary-color-500); top: 50%; left: 50%; width: max-content;">VOCATIONAL
            EDUCATION</span>
    </div>
    <!-- title and top image desktop end -->
    <!-- title and top image mobile begin -->
    <div class="w-100 d-flex d-md-none align-items-center justify-content-center py-5"
        style="background-image: url(../assets/images/vocational-education/109584.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <span class="fw-bolder py-5 text-center"
            style="font-size: 5rem; color: var(--primary-color-500); text-shadow: 5px 5px 5px black;">VOCATIONAL EDUCATION</span>
    </div>
    <!-- title and top image mobile end -->
    <!-- cards begin -->
    <div class="container mt-5">
        <div class="grid">
            @for (ed of vocationalEducation; track $index) {
            <div class="md:col-4">
                <div class="shadow overflow-hidden rounded m-5 d-flex flex-column" style="height: 45rem;">
                    <img [src]="ed.img" width="100%" height="50%">
                    <div class="px-2 d-flex flex-column h-100">
                        <span class="p-2 rounded my-3 fs-5"
                            style="background-color: var(--primary-color-200); width: max-content;">#Something
                            something</span>
                        <span class="fw-bold fs-4 my-1">{{ed.name}}</span>
                        <div class="d-flex flex-column justify-content-end h-100">
                            <div class="d-flex justify-content-between my-1">
                                <span class="fs-4 text-gray-300 pe-1">
                                    <i class="bi bi-clock"></i>
                                    {{ed.duration.amount}} {{ed.duration.period}}
                                </span>
                                <span class="fs-4 text-gray-300 ps-1">
                                    <i class="bi bi-clipboard-data"></i>
                                    {{ed.dailyProgram.length}} Classes
                                </span>
                                @if (ed.isCertificated) {
                                <span class="fs-4 text-gray-300 ps-1">
                                    <i class="bi bi-patch-check"></i>
                                    Certificated
                                </span>
                                }
                                @else if (!ed.isCertificated) {
                                <span class="fs-4 text-gray-300 ps-1">
                                    <i class="bi bi-patch-exclamation"></i>
                                    Not Certificated
                                </span>
                                }
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn custom-btn-primary py-2 mt-4 mb-3 fs-4 text-light w-75"
                                    (click)="openDetails($index)">Click For
                                    More</button>
                                <span class="fs-4 fw-bold">{{ed.cost}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <!-- cards end -->
</div>