<div class="w-100 d-flex justify-content-center" style="background-color: rgba(0, 0, 0, 0.834);">
    <div class="py-5 row d-flex justify-content-between container align-items-center">
        <div class="col-3 w-25 d-flex justify-content-start">
            <img src="../assets/images/fwa-logo.png" class="w-100 h-50">
        </div>
        <div class="col-4 row d-flex flex-column align-items-center">
            <div class="d-flex flex-column align-items-center col-12">
                <div class="d-flex flex-column">
                    <span class="fs-4 mt-1 fw-medium router-links" (click)="navigateTo('/', 1)">
                        HOME
                    </span>
                    <span class="fs-4 mt-1 fw-medium router-links" (click)="navigateTo('/about', 2)">
                        ABOUT US
                    </span>
                    <span class="fs-4 mt-1 fw-medium router-link-single">
                        COURSES
                        <div class="d-flex flex-column ps-3" style="font-size: 1rem;">
                            <span class="router-links" (click)="navigateTo('/school-education', 3)">school education</span>
                            <span class="router-links" (click)="navigateTo('/vocational-education', 3)">vocational education</span>
                            <span class="router-links" (click)="navigateTo('/adult-education', 3)">adult education</span>
                            <span class="router-links" (click)="navigateTo('/job-shadowing', 3)">job shadowing</span>
                        </div>
                    </span>
                    <span class="fs-4 mt-1 fw-medium router-links" (click)="navigateTo('/education-centers', 4)">
                        EDUCATION CENTERS
                    </span>
                    <span class="fs-4 mt-1 fw-medium router-links" (click)="navigateTo('/contact-us', 5)">
                        CONTACT US
                    </span>
                </div>
            </div>
        </div>
        <div class="col-5 row" style="color: var(--primary-color-500);">
            <div class="col-6">
                <div class="fs-3 pb-2 fw-bold">
                    CONTACT
                </div>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <div class="fs-3 pb-2 fw-bold">
                    FOLLOW US
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column justify-content-end">
                    <span class="fs-4 py-2 fw-medium" style="color: var(--primary-color-500);">
                        info&#64;fwa.eu
                    </span>
                    <span class="fs-4 py-2 fw-medium" style="color: var(--primary-color-500);">
                        +90 (555) 555 55 55
                    </span>
                    <span class="fs-4 pt-2 fw-medium" style="color: var(--primary-color-500);">
                        Kışla Mh. Binbaşı Cengiz Toytunç Cd. No: 118/4, 07040 Muratpaşa/Antalya
                    </span>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-end">
                <div class="d-flex flex-column">
                    <a href="https://www.instagram.com/futureworld.academy/"
                        class="router-links d-flex align-items-center" target="_blank">
                        <i class="fs-1 bi bi-instagram"></i>
                        <span class="fs-4 ps-2 fw-medium">Instagram</span>
                    </a>
                    <a href="https://www.linkedin.com/company/future-world-academy/?viewAsMember=true"
                        class="router-links d-flex align-items-center" target="_blank">
                        <i class="fs-1 bi bi-linkedin"></i>
                        <span class="fs-4 ps-2 fw-medium">LinkedIn</span>
                    </a>
                    <a href="https://www.facebook.com/futureworldacademy.eu"
                        class="router-links d-flex align-items-center" target="_blank">
                        <i class="fs-1 bi bi-facebook"></i>
                        <span class="fs-4 ps-2 fw-medium">Facebook</span>
                    </a>
                    <a href="https://www.youtube.com/@FutureWorldAcademyEu"
                        class="router-links d-flex align-items-center" target="_blank">
                        <i class="fs-1 bi bi-youtube"></i>
                        <span class="fs-4 ps-2 fw-medium">Youtube</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="col-2 d-flex flex-column align-items-end" style="color: var(--primary-color-500);">
            <div class="fs-3 fw-bold">
                FOLLOW US
            </div>

        </div> -->
    </div>
</div>