<!-- desktop begin -->
<div class="w-100 d-none d-md-flex justify-content-center" style="padding-top: 5rem; min-height: 100%; background-color: var(--primary-color-300);">
    <div>
        <img class="position-fixed" style="top: 25%; left: 7.5%;" src="assets/images/connect.png">
    </div>
    <div class="d-flex align-items-center flex-column">
        <span class="text-light fw-bold" style="font-size: 10rem; text-shadow: 1rem 1rem 1rem black;">Contact Us</span>
        <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSfmkqjtTAUgHAl3tAYMh0ByeujUQ6lPBdTSfEFVlIItqmDDuA/viewform?embedded=true"
        width="700" height="1400" frameborder="0" marginheight="0" marginwidth="0">Yükleniyor…</iframe>
    </div>
    <div>
        <img class="position-fixed" style="top: 25%; right: 7.5%;" src="assets/images/connect.png">
    </div>
</div>
<!-- desktop end -->

<!-- mobile begin -->
<div class="w-100 d-md-none justify-content-center" style="padding-top: 5rem; min-height: 100%; background-color: var(--primary-color-300);">
    <div class="w-100 flex p-3" style="background-color: var(--primary-color-700);">
        <img class="w-25" src="assets/images/connect.png">
        <span class="text-light fw-bold text-center" style="font-size: 5rem; text-shadow: 1rem 1rem 1rem black;">Connect <br> Us</span>
    </div>
    <div class="w-100">
        <iframe
        class="my-2"
        src="https://docs.google.com/forms/d/e/1FAIpQLSfmkqjtTAUgHAl3tAYMh0ByeujUQ6lPBdTSfEFVlIItqmDDuA/viewform?embedded=true"
        width="100%" height="1500" frameborder="0" marginheight="0" marginwidth="0">Yükleniyor…</iframe>
    </div>
</div>
<!-- mobile end -->