<div class="w-100 custom-font-size" style="background-image: url(../assets/);">
  <!-- title and top image begin -->
  <div class="d-flex flex-column align-items-center justify-content-center align-items-center py-5 w-100"
    style="background-color: var(--primary-color-300); height: 95vh;">
    <div class="py-4 d-flex justify-content-center">
      <span class="fw-bold text-white" style="font-size: 4rem;">EDUCATION CENTERS</span>
    </div>
    <div class="d-flex justify-content-center pt-4 align-items-center position-relative"
      style="width: 1200px; height: 500px;">
      <img src="../assets/images/education-centers/europe-6.png" height="100%" width="75%" alt="">
      @for (city of cities; track $index) {
      <i class="bi bi-geo-alt-fill position-absolute fs-3 custom-location-icon"
        [ngStyle]="{'bottom': city.position.bottom + '%', 'left': city.position.left + '%'}"></i>
      <div [id]="'card-' + $index" class="position-absolute hover-me p-3 rounded-4 text-light flex-column shadow-lg"
        style="background: var(--primary-color-500); width: 50vw;"
        [ngStyle]="{'left': (city.position.left + 1) + '%', 'bottom': (city.position.bottom + 4) + '%', 'transform': 'translateX(-50%)'}">
        <!-- 'color': city.position.bottom > 50 ? 'red' : 'yellow' -->
        <span class="w-100 d-inline-block text-center fs-2 fw-bold">{{city.name}}</span>
        <div class="d-flex">
          <div class="w-50">
            <img [src]="city.img" style="width: 100%;">
          </div>
          <div class="w-50 p-5 d-flex flex-column justify-content-center align-items-center">
            <div class="custom-box">
              <span>
                {{city.text}}
              </span>
            </div>
            <div class="d-flex justify-content-end w-100 pe-3">
              <button class="btn custom-btn-secondary mt-4 text-light fw-bold" (click)="toggleTravelGuideModel($index)">Open Travel Guide</button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  <!-- title and top image end -->
  <div class="pt-5 my-5 d-flex flex-column align-items-center">
    @for (city of cities; track $index) {
    @if ($index % 2 === 0) {
    <!-- Map located right begin -->
    <div class="w-100 d-flex justify-content-center  py-5 my-5" style="background-color: var(--primary-color-900);">
      <div class="w-75 d-flex justify-content-between text-light">
        <div class="w-50 d-flex flex-column justify-content-center">
          <span class="fw-bold pb-5" style="font-size: 7.5rem; font-style:oblique;">{{city.name}}</span>
          <div class="custom-box w-75 d-flex flex-column">
            <span class="fs-4 py-1" style="font-style: italic;">{{city.text}}</span>
          </div>
          <div class="w-75">
            <button id="toggleButton" class="btn custom-btn-secondary mt-5 w-25 py-2 text-light fs-5 fw-bold"
              (click)="toggleTravelGuideModel($index)">Learn More</button>
          </div>
        </div>
        <div class="w-50 pe-5">
          <img [src]="city.img" width="100%">
        </div>
      </div>
    </div>
    <!-- Map located right end -->
    } @else {
    <!-- Map located left begin -->
    <div class="w-100 d-flex justify-content-center  py-5 my-5" style="background-color: var(--primary-color-900);">
      <div class="w-75 d-flex justify-content-between text-light">
        <div class="w-50 pe-5">
          <img [src]="city.img" width="100%">
        </div>
        <div class="w-50 d-flex flex-column justify-content-center align-items-end">
          <div class="w-75">
            <span class="fw-bold pb-5 d-inline-block"
              style="font-size: 7.5rem; font-style:oblique;">{{city.name}}</span>
          </div>
          <div class="w-100 d-flex flex-column align-items-end">
            <div class="w-75 custom-box">
              <span class="fs-4 py-1" style="font-style: italic;">{{city.text}}</span>
            </div>
          </div>
          <div class="w-75">
            <button id="toggleButton" class="btn custom-btn-secondary mt-5 w-25 py-2 text-light fs-5 fw-bold"
              (click)="toggleTravelGuideModel($index)">Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Map located left end -->
    }
    }
  </div>
</div>

<!-- travel guide modal begin -->
@for (cityData of cities; track $index) {
<div [id]="'hiddenElementId' + $index"
  class="hiddenElement w-100 d-flex justify-content-center align-items-center custom-font-size">
  <div
    class="hidden position-fixed top-50 start-50 translate-middle w-100 d-flex justify-content-center align-items-center z-3"
    style="height: 100vh; background-color: rgba(156, 156, 156, 0.75); background-image: url('../../../assets/images/img-2.jpeg');
         background-repeat: no-repeat;
         background-size: cover;">
    <div class="w-75 h-75" style="border-radius: 2rem; background-color: rgba(0, 0, 0, 0.55);">
      <!-- header begin -->
      <div class="d-flex justify-content-between px-3 py-2">
        <div class="fw-bold text-light px-3" style="font-size: 3rem;">{{cities[$index].name}}</div>
        <i class="bi bi-x-circle fs-2 text-light" style="cursor: pointer;"
          (click)="toggleTravelGuideModel(activeCityIndex)"></i>
      </div>
      <!-- header end -->
      <!-- body begin -->
      <div class="px-5 h-75">
        <div class="row h-100">
          <div class="col-6 d-flex align-items-center">
            <img [src]="currentSlide ? currentSlide.img : cityData.slides[0].img" width="100%" alt="">
          </div>
          <div class="col-6 d-flex flex-column justify-content-between h-100">
            <div class="h-75 overflow-auto mb-3" style="min-height: 75%;">
              <span class="fs-5 text-light">
                {{currentSlide ? currentSlide.text : cityData.slides[0].text}}
              </span>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center h-25" style="min-height: 25%;">
              <carousel class="d-flex justify-content-center align-items-center" [itemsPerSlide]="itemsPerSlide"
                [singleSlideOffset]="false" [interval]="0" [indicatorsByChunk]="true">
                @for(slide of cities[$index].slides; track $index) {
                <slide class="rounded-4 overflow-hidden mx-2 border border-2" style="cursor: pointer; min-height: 90%;"
                  [ngClass]="{'border-5': $index === activeSlide}" (click)="openSlideDetails($index)">
                  <img [src]="slide.img" alt="image slide" style="display: block; width: 100%;">
                  <div class="carousel-caption">
                  </div>
                </slide>
                }
              </carousel>
              <!-- <div class="mt-3 rounded-pill bg-light">
                     <i class="bi bi-circle-fill mx-2"></i>
                     <i class="bi bi-circle mx-2"></i>
                     <i class="bi bi-circle mx-2"></i>
                     <i class="bi bi-circle mx-2"></i>
                   </div> -->

            </div>
          </div>
        </div>
      </div>
      <!-- body end -->
    </div>
  </div>
</div>
}
<!-- travel guide modal end -->