.hiddenElement {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hiddenElement.visible {
    opacity: 1;
    visibility: visible;
}

.custom-bg {
    background-image: url('../../../assets/images/img-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

::ng-deep.carousel-indicators {
    display: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.25rem;
    background-color: black;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
}

::ng-deep.carousel-control-prev {
    left: -5rem;
    width: 10%;
}

::ng-deep.carousel-control-next {
    right: -5rem;
    width: 10%;
}

::ng-deep.icon-prev {
    padding: 0.25rem;
    background-color: rgba(0, 0, 0, 1) !important;
}

::ng-deep.icon-next {
    padding: 0.25rem;
    background-color: rgba(0, 0, 0, 1) !important;
}

::ng-deep.carousel.slide {
    width: 80%;

    & slide .item {
        height: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.custom-overflow-scroll {
    overflow-y: scroll;
}

.hover-me {
    display: none;
    z-index: 999;
}

.custom-location-icon {
    color: var(--danger-color-500);
    cursor: pointer;
    
    &:hover {
        color: var(--secondary-color-300);
        z-index: 999 !important;

        & + .hover-me {
            display: flex;
        }
    }
}

.hover-me:hover {
    display: flex;
}