<div class="w-100 d-flex shadow-lg justify-content-center bg-dark position-fixed top-0 z-2"
    style="height: 60px; --bs-bg-opacity: .75;">
    <div class="w-75 d-flex align-items-center justify-content-between">
        <img src="../assets/images/fwa-logo.png" style="cursor: pointer; height: 30px;" (click)="navigateTo('/', 1)">
        <!-- desktop links begin -->
        <div class="text-light fs-4 d-none d-md-flex justify-content-start">
            <div class="nav-bar-links me-4 fw-bold" (click)="navigateTo('/', 1)"
                [ngStyle]="{'color': activeTab === 1 ? 'var(--primary-color-500)' : 'white'}">Home</div>
            <div class="nav-bar-links mx-4 fw-bold" (click)="navigateTo('/about', 2)"
                [ngStyle]="{'color': activeTab === 2 ? 'var(--primary-color-500)' : 'white'}">About Us</div>
            <div class="nav-bar-links mx-4 fw-bold dropdown-toggle" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <span [ngStyle]="{'color': activeTab === 3 ? 'var(--primary-color-500)' : 'white'}">Courses</span>
                <div class="dropdown-menu">
                    <div class="d-flex flex-column align-items-center px-2">
                        <span class="p-2 fs-5 nav-bar-links" (click)="navigateTo('/school-education', 3)">School
                            Education</span>
                        <span class="p-2 fs-5 nav-bar-links" (click)="navigateTo('/vocational-education', 3)">Vocational
                            Education</span>
                        <span class="p-2 fs-5 nav-bar-links" (click)="navigateTo('/adult-education', 3)">Adult
                            Education</span>
                        <span class="p-2 fs-5 nav-bar-links" (click)="navigateTo('/job-shadowing', 3)">Job
                            Shadowing</span>
                    </div>
                </div>
            </div>
            <div class="nav-bar-links mx-4 fw-bold" (click)="navigateTo('/education-centers', 4)"
                [ngStyle]="{'color': activeTab === 4 ? 'var(--primary-color-500)' : 'white'}">Education Centers</div>
            <div class="nav-bar-links ms-4 fw-bold" (click)="navigateTo('/contact-us', 5)"
                [ngStyle]="{'color': activeTab === 5 ? 'var(--primary-color-500)' : 'white'}">Contact Us</div>
        </div>
        <!-- desktop links end -->
        <div class="d-md-none">
            <i class="bi bi-list text-light fs-1" (click)="openNavBar()"></i>
        </div>


    </div>
    <!-- mobile links begin -->
    <div class="bg-dark position-absolute w-100 start-0 d-flex justify-content-center" id="mobileNavLinks"
        style="height: 100vh; --bs-bg-opacity: .75;">
        <div class="w-75 mt-5 d-flex flex-column align-items-center position-absolute top-0 bg-light" id="mobileNavLinksChild">
            <div class="d-flex flex-column w-100 align-items-center pb-5">
                <div class="d-flex justify-content-end w-100 fs-1 px-2">
                    <i class="bi bi-x-lg" (click)="closeNavBar()"></i>
                </div>
                <div class="w-75 fw-bold my-1 py-2 text-center border rounded"
                    [ngStyle]="{'background-color': activeTab === 1 ? 'var(--primary-color-500)' : 'white'}"
                    (click)="navigateTo('/', 1)">Home</div>

                <div class="w-75 fw-bold my-1 py-2 text-center border rounded"
                    [ngStyle]="{'background-color': activeTab === 2 ? 'var(--primary-color-500)' : 'white'}"
                    (click)="navigateTo('/about', 2)">About Us</div>

                <div class="w-75 my-1">
                    <div class="w-100 fw-bold py-2 text-center border rounded position-relative" (click)="toggleCoursesLinks()"
                        [ngStyle]="{'background-color': activeTab === 3 ? 'var(--primary-color-500)' : 'white'}">Courses
                        @if (!isCoursesLinksOpen) {
                            <i class="bi bi-chevron-right position-absolute end-0 px-2"></i>
                        } @else if (isCoursesLinksOpen) {
                            <i class="bi bi-chevron-down position-absolute end-0 px-2"></i>
                        }
                    </div>
                    <div class="d-flex flex-column align-items-center mx-3 h-0" id="courses-hamburger">
                        <div class="fw-medium pb-1 w-100 text-center " (click)="navigateTo('/school-education', 3)">
                            School Education
                        </div>
                        <div class="fw-medium pb-1 w-100 text-center border-top"
                            (click)="navigateTo('/vocational-education', 3)">Vocational
                            Education</div>
                        <div class="fw-medium pb-1 w-100 text-center border-top"
                            (click)="navigateTo('/adult-education', 3)">Adult Education
                        </div>
                        <div class="fw-medium pb-1 w-100 text-center border-top"
                            (click)="navigateTo('/job-shadowing', 3)">Job Shadowing</div>
                    </div>
                </div>

                <div class="w-75 fw-bold my-1 py-2 text-center border rounded"
                    [ngStyle]="{'background-color': activeTab === 4 ? 'var(--primary-color-500)' : 'white'}"
                    (click)="navigateTo('/education-centers', 4)">Education Centers</div>

                <div class="w-75 fw-bold my-1 py-2 text-center border rounded"
                    [ngStyle]="{'background-color': activeTab === 5 ? 'var(--primary-color-500)' : 'white'}"
                    (click)="navigateTo('/contact-us', 5)">Contact Us</div>
            </div>
        </div>
    </div>
    <!-- mobile links end -->
</div>