<div class="w-100 d-flex justify-content-center bg-dark position-absolute top-0 z-3" style="height: 60px; --bs-bg-opacity: .5;">
    <div class="w-75 d-flex align-items-center justify-content-between">
        <img src="../assets/images/fwa-logo.png" height="50%" style="cursor: pointer;" (click)="navigateTo('/')">
        <div class="text-light fs-4 d-flex justify-content-start">
            <span class="nav-bar-links me-4 fw-bold" (click)="navigateTo('/')">Home</span>
            <span class="nav-bar-links mx-4 fw-bold" (click)="navigateTo('/about')">About Us</span>
            <span class="nav-bar-links mx-4 fw-bold" (click)="navigateTo('/')">Courses</span>
            <span class="nav-bar-links mx-4 fw-bold" (click)="navigateTo('/education-centers')">Education Centers</span>
            <span class="nav-bar-links ms-4 fw-bold" (click)="navigateTo('/contact-us')">Contact Us</span>
        </div>
    </div>
</div>